.STlogo {width: 120px; height: 50px; position: absolute; top: 1%; left:  2%;}
a {color: white;	text-decoration: none; }
.header{background-color: #000;}
#headerHome{color: white; position: absolute; top: 1%; left: 60%; }
#headerHome:hover{background-color: #282A35;	}
#headerStory {color: white;  position: absolute; top: 1%; left: 70%;}
#headerStory:hover{ background-color: #282A35;}
#headerCast{color: white; position: absolute; top: 1%; left: 80%; }
#headerCast:hover{background-color: #282A35;}
#headerAboutUs {color: white; position: absolute; top: 1%; left: 90%;}
#headerAboutUs:hover{background-color: #282A35; }
.overview{position: absolute; left: 13%;}
.picture1stPage{position: absolute; top: 9%; user-select: auto; width: 100%; height: 100%;}
.titleST{position: absolute; top: 18%; left: -5%;	width: 60%; height: 60%;}

.hawkinsmapimage{ position: absolute; top: 110%;  left: 49%; width: 50%; height: 60%; }
.hawkinsstorytextbox{ position: absolute; width: 40%; color: white; top: 130%; left: 23%; transform:  translate(-45%, -50%); text-align: left; margin:  100px 0 50px; font-size: 16px; font-family: Arial, sans-serif;  color: white;}
.eggoss1image{ position: absolute; top: 185%;  left: -5%; width: 30%;  height: 30%;}
.s1overviewimage{ position: absolute;  top: 180%;  left: 59%; height: 40%;  width: 40%;}
.s1storytextbox{ position: absolute;top: 185%; width: 70%; color: white; left: 52%; transform:  translate(-45%, -50%);  text-align: left; margin: 100px 0 50px; font-size: 14px; font-family: Arial, sans-serif;  color: white; }
.eggoss2image{  position: absolute;  top: 228%; left: 75%;  width: 30%;  height: 30%; }
.s2overviewimage{ position: absolute; top: 225%;  right: 59%;  height: 40%;  width: 40%; }
.s2storytextbox{position: absolute;top: 115%; width: 70%;color: white; left: 66%;transform:  translate(-45%,50%);    text-align: left; margin:  50px 0 50px;font-size: 14px; color: white; }
.eggoss3image{   position: absolute; top: 280%;  left: -4%;  width: 30%;  height: 30%; }
.s3overviewimage{position: absolute; top: 270%;  left: 59%; height: 40%;  width: 40%; }
.s3storytextbox{ position: absolute; top: 245%; width: 70%; color: white; left: -6%; transform:  translate(-60%, -50%);text-align: left; margin:  50px 0 50px; font-size: 14px; color: white; }
.eggoss4image{position: absolute; top: 322%;  left: 75%;  width: 30%;  height: 30%;}
.s4overviewimage{position: absolute; top: 318%;  right: 59%;  height: 45%;  width: 40%;}
.s4storytextbox{ position: absolute; top: 163%;  width: 100%;  color: white;  left: 115%; transform:  translate(-45%,-50%); text-align: left;  margin:  50px 0 50px;  font-size: 14px;  color: white;}
.genreicon {position: absolute; right: 80%; top: 115%; height: 30%;  width: 25%; filter: drop-shadow(2px 2px 2px#ec2024);}
.genretextbox{position: absolute; top: 150%;right: 70%; color: white; transform: translate(-50%,-50%); font-size: 40px; font-family: Copperplate, fantasy;}
.genre1{position: absolute; top: 190%;right: 157%; color: white; transform: translate(-50%,-50%); font-size: 100px; font-family: Copperplate, fantasy; filter:drop-shadow(2px 2px 2px#ec2024)}
.genre1textbox{position: absolute; top: 197%;right: 89%; color: white; transform: translate(-50%,-50%); font-size: 65px; font-family: Copperplate, fantasy; border-radius: 50%;}
.genre2{position: absolute; top: 235%;right: 154%; color: white; transform: translate(-50%,-50%); font-size: 100px; font-family: Copperplate, fantasy; filter:drop-shadow(2px 2px 2px#ec2024)}
.genre2textbox{position: absolute; top: 245%;right: 82%; color: white; transform: translate(-50%,-50%); font-size: 65px; font-family: Copperplate, fantasy; border-radius: 50%;}
.genre3{position: absolute; top: 190%;right: 40%; color: white; transform: translate(-50%,-50%); font-size: 100px; font-family: Copperplate, fantasy; filter:drop-shadow(2px 2px 2px#ec2024)}
.genre3textbox{position: absolute; top: 197%;right: -30%; color: white; transform: translate(-50%,-50%); font-size: 65px; font-family: Copperplate, fantasy; border-radius: 50%;}
.genre4{position: absolute; top: 235%;right: 40%; color: white; transform: translate(-50%,-50%); font-size: 100px; font-family: Copperplate, fantasy; filter:drop-shadow(2px 2px 2px#ec2024)}
.genre4textbox{position: absolute; top: 245%;right: -15%; color: white; transform: translate(-50%,-50%); font-size: 65px; font-family: Copperplate, fantasy; border-radius: 50%;}
.Preview{ color: white; position: absolute; top: 61%; left: 7%; }

.mainCharacter{text-align: center; border: 2px dashed black; background: red; margin: 2px 10px 2px 10px; } 
.casts{display: flex; margin: 20px 80px; justify-content: space-around;}
.castImg{ flex-basis: 250px; margin:  15px 5px 5px 5px; }
.casts .casts-img{ border-width: 0.0625rem 0.0625rem 0.0625rem 0.0625rem; border: 7px double black; padding: 3px; width: 160px; box-shadow: 0 0 10px 1px #ec2023; margin: 0.625rem; float: right; }
.castname { color: red; margin-top: 30px; margin-left: 71px;  font-size: 60; }
 @media only screen and (max-width: 1150px){
 .casts {flex-direction: column; }
.castImg{ display: flex; flex-direction: column; align-items: center; }
.castname{ color: red; text-align: center; margin:  20px 60px 80px 60px; font-size: 50; }}
.page10pic{ width: 100%; height: 100%; }
.monster{ text-align: center; border: 2px dashed black; background: red; margin: 2px 10px 2px 10px; }
.video11{ display: flex; margin: 20px 80px; justify-content: space-around; }
#elevenPower1{ border-width: 16px 16px 16px 16px; border: 7px double black; padding: 1px 20px 1px 20px; width: 95%; height: 95%; box-shadow: 0 0 10px 1px #ec2023; margin: 1px 10px 10px 10px; }
.monsterlist{ background-color: darkred; display: flex; justify-content: space-between; padding: 40px; width: 80%; margin: 10px auto 0 auto; }
.monsterlist img{ height: 250px;   width: 500px; flex-basis: 250px; margin:  15px 5px 5px 5px; }
.monsterlist h1{ margin: 0; color: white; }
.monsterlist p{ font-size: 20; color:  white; margin-right: 15px; }
@media only screen and (max-width: 1150px){
.casts { flex-direction: column; }
.monsterlist img{ display: flex; flex-direction: column; align-items: baseline; }
.monsterlist p{ text-align: center; }
